#bubble-container-grid {
  position: relative;
  background: rgb(40, 40, 40);
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 740px;
  text-align: center;
  display: none;
  grid-template-areas:
    'header header header header'
    'array array array array'
    'buttons buttons infos infos'
    'buttons buttons infos infos'
    'results results results results';
  grid-gap: 0px;
}

#bubble-header-grid {
  grid-area: header;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background: rgb(40, 40, 40);
  position: relative;
}

#bubble-tutorial {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 21px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

#bubble-tutorial:hover {
  background: rgba(56, 231, 231, 0.322);
}

#bubble-tutorial:focus {
  outline: none;
}


#bubble-checkBox-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 40px;
  background: rgb(40, 40, 40);
}

input[name=algorithm] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: rgba(191, 87, 87, 0.8);
  color: white;
  top: 8px;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

input[name=algorithm]:checked:before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 9px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
  font-size: 20px;
}

input[name=algorithm]:hover {
  background-color: rgba(191, 87, 87, 0.9);
}

input[name=algorithm]:checked {
  background-color: #00947b;
}

label {
  font: 300 16px/1.7 'Open Sans', sans-serif;
  margin-right: 1px;
  margin-left: 2px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  position: relative;
  text-transform: uppercase;
}

#bubble-data-type {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 21px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

#bubble-data-type:hover {
  background: rgba(56, 231, 231, 0.322);
}

#bubble-data-type:focus {
  outline: none;
}

#bubble-header {
  color: #dadada;
  font-size: 34px;
  font-family: myFont;
  position: relative;
  top: 15px;
}

#bubble-array-grid {
  grid-area: array;
  height: 190px;
  background: rgb(40, 40, 40);
}

#bubble-array-container {
  list-style-type: none;
  width: 700px;
  height: 100px;
  background: #484848;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 13px;
}

#bubble-array-inner-container {
  position: absolute;
  width: 650px;
  height: 50px;
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.bubble-array-element {
  display: inline-block;
  width: 100px;
  height: 55px;
  background: #ffed6e;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #f54253;
}


.bubble-element {
  font-size: 45px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 8px;
}


#bubble-buttons-container-grid {
  grid-area: buttons;
  height: 295px;
  border: 2px solid gray;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  border-bottom-left-radius: 0px;
  border-bottom: 0px;

}

.ui_button {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 12px;
  margin-bottom: 16px;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 21px;
  width: 200px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

.ui_button:hover {
  background: rgba(56, 231, 231, 0.322);
}

.ui_button:focus {
  outline: 0;
}



.btn_line {
  width: 250px;
  position: relative;
  bottom: 6px;
  border-color: #777777
}

.rs_line {
  width: 450px;
  position: relative;
  border-color: #777777
}

#bubble-info-container-grid {
  grid-area: infos;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 294px;
  background: #282828;
  border: 2px solid gray;
  border-bottom-right-radius: 0px;
  border-bottom: none;

}

#bubble-array-info {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
  font-family: myFont;
  font-weight: bold;
  line-height: 53px;
  color: white;
  position: relative;
  top: 40px;
}



.sorting_array_info {
  background: #a14c4b91;
  border-radius: 6px;
  padding: 8px;
}

.sorted_array_info {
  background: #00947a91;
  border-radius: 6px;
  padding: 8px;
}

.best {
  background: #00947a91;
  border-radius: 6px;
  padding: 8px;
}

.average {
  background: #e0854591;
  border-radius: 6px;
  padding: 8px;
}

.worst {
  background: #a14c4b91;
  border-radius: 6px;
  padding: 8px;
}

#bubble-results-container-grid {
  grid-area: results;
  height: 280px;
  background: rgb(40, 40, 40);
  border: 2px solid gray;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#bubble-array-result {
  font-family: myFont;
  color: #dadada;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  top: 30px;
}

#bubble-array-swaps-result {
  font-family: myFont;
  color: white;
  font-size: 20px;
  position: relative;
  top: 20px;
}

#bubble-array-passages-result {
  font-family: myFont;
  color: white;
  font-size: 20px;
  position: relative;
  top: 20px;
}

#bubble-solution {
  display: none;
  width: 300px;
  margin-top: 40px;
}

#bubble-restart-container {
  display: none;
  margin: 0;
  width: 100%;
  height: 816px;
  position: absolute;
  background: #000000ab;

}

#bubble-restart-modal {
  display: block;
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 488px;
  background: #282828;
  border: 6px solid lightgray;
  border-radius: 10px;
}

#bubble-restart-text {
  position: relative;
  top: 20px;
  color: #cecece;
  font-family: myFont;
  text-transform: uppercase;
  font-size: 26px;
}

#bubble-exit {
  position: absolute;
  width: 26px;
  height: 26px;
  text-align: center;
  top: 0px;
  right: 10px;
  font-size: 17px;
}

#bubble-exit span {
  position: relative;
  bottom: 3px;
}

#bubble-reset-game {
  top: 30px;
}

#bubble-restart-text-custom {
  position: relative;
  top: 60px;
  color: #cecece;
  font-family: myFont;
  text-transform: uppercase;
  font-size: 26px;
}

[name=bubble_custom_array_element] {
  width: 54px;
  height: 30px;
  position: relative;
  top: 15px;
  background: #ffed6e;
  border: none;
  border-radius: 4px;
  text-align: center;

}

#bubble-custom-array-container {
  width: 80%;
  height: 60px;
  background: #484848;
  margin: auto;
  position: relative;
  top: 55px;
  border-radius: 13px;
}


#bubble-restart-custom-info {
  top: 67px;
  position: relative;
  color: #cacaca;
  font-family: myFont;
}

#bubble-reset-game-custom {
  top: 130px;
}


#bubble-solution-container {
  display: none;
  margin: 0;
  width: 100%;
  height: 816px;
  position: absolute;
  background: #000000ab;

}

#bubble-solution-modal {
  display: block;
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 750px;
  background: #282828;
  border: 6px solid lightgray;
  border-radius: 10px;
}

#bubble-solution-exit {
  position: absolute;
  width: 26px;
  height: 26px;
  text-align: center;
  top: 0px;
  right: 10px;
  font-size: 17px;
  z-index: 3;
}

#bubble-solution-exit span {
  position: relative;
  bottom: 3px;
}


.hide_element {
  background: rgb(40, 40, 40);
  color: transparent;
  border-radius: 8px;
  border: none;
}

#bubble-array-container-solution {
  list-style-type: none;
  width: 450px;
  height: 50px;
  background: #484848;
  margin: auto;
  position: relative;
  top: 25px;
  border-radius: 13px;
}

#bubble-array-inner-container-solution {
  position: absolute;
  width: 430px;
  height: 45px;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.bubble-array-element-solution {
  display: inline-block;
  width: 62px;
  height: 32px;
  background: #ffed6e;
  text-align: center;
  border-radius: 8px;
  margin-right: 3px;
  margin-left: 3px;
}


.bubble-element-solution {
  font-size: 28px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

#bubble-solution-body {
  position: relative;
  top: 50px;
  width: 450px;
  height: 520px;
  overflow-y: scroll;
  margin: auto;
  border: 2px solid white;
  border-radius: 35px;
  border-radius: 8px;
}



@media only screen and (max-width: 1000px) {

  #bubble-array-container {
    list-style-type: none;
    width: 650px;
    height: 100px;
    background: #484848;
    margin: auto;
    position: relative;
    top: 20px;
    border-radius: 13px;
  }

  #bubble-array-info {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;
    font-family: myFont;
    font-weight: bold;
    line-height: 53px;
    color: white;
    position: relative;
    top: 40px;
  }
}