body {
  background: rgb(40, 40, 40);
}

#main-container-grid {
  display: grid;
  background: rgb(40, 40, 40);
  height: auto;
  width: 100%;
}

#insertion-container-grid {
  display: none;
}

#bubble-container-grid {
  display: none;
}

.modal-body {
  height: 500px;
  overflow-y: auto;
}

.pass-text {
  position: relative;
  margin-top: 18px;
  background: #e9e9e9;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.swap-text {
  color:white;
}

