#insertion-container-grid {
  position: relative;
  background: rgb(40, 40, 40);
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 740px;
  text-align: center;
  display: none;
  grid-template-areas:
    'header header header header'
    'array array array array'
    'buttons buttons infos infos'
    'results results results results';
  grid-gap: 0px;
}



#insertion-header-grid {
  grid-area: header;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background: rgb(40, 40, 40);
  position: relative;
}

#insertion-tutorial {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 21px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  transition: all 1s;
}

#insertion-tutorial:hover {
  background: rgba(56, 231, 231, 0.322);
}

#insertion-tutorial:focus {
  outline: none;
}



#insertion-checkBox-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 40px;
  background: rgb(40, 40, 40);
}

#insertion-data-type {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 21px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

#insertion-data-type:hover {
  background: rgba(56, 231, 231, 0.322);
}

#insertion-data-type:focus {
  outline: none;
}


#insertion-header {
  color: #dadada;
  font-size: 34px;
  font-family: myFont;
  position: relative;
  top: 15px;
}

#insertion-array-grid {
  grid-area: array;
  height: 190px;
  background: rgb(40, 40, 40);
}

#insertion-array-container {
  list-style-type: none;
  width: 700px;
  height: 100px;
  background: #484848;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 13px;
}

#insertion-array-inner-container {
  position: absolute;
  width: 650px;
  height: 50px;
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.insertion-array-element {
  display: inline-block;
  width: 100px;
  height: 55px;
  background: #ffed6e;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #484848;

}


.insertion-element {
  font-size: 45px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 8px;
}


#insertion-buttons-container-grid {
  grid-area: buttons;
  height: 295px;
  border: 2px solid gray;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  border-bottom-left-radius: 0px;
  border-bottom: 0px;

}

#insertion-info-container-grid {
  grid-area: infos;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 294px;
  background: #282828;
  border: 2px solid gray;
  border-bottom-right-radius: 0px;
  border-bottom: none;

}

#insertion-array-info {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
  font-family: myFont;
  font-weight: bold;
  line-height: 53px;
  color: white;
  position: relative;
  top: 40px;
}

#insertion-results-container-grid {
  grid-area: results;
  height: 280px;
  background: rgb(40, 40, 40);
  border: 2px solid gray;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#insertion-array-result {
  font-family: myFont;
  color: #dadada;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  top: 30px;
}

#insertion-array-swaps-result {
  font-family: myFont;
  color: white;
  font-size: 20px;
  position: relative;
  top: 20px;
}

#insertion-array-passages-result {
  font-family: myFont;
  color: white;
  font-size: 20px;
  position: relative;
  top: 20px;
}

#insertion-solution{
  display: none;
  width:300px;
  margin-top:40px;
}

#insertion-restart-container {
  display: none;
  margin: 0;
  width: 100%;
  height: 816px;
  position: absolute;
  background: #000000ab;

}

#insertion-restart-modal {
  display: block;
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 488px;
  background: #282828;
  border: 6px solid lightgray;
  border-radius: 10px;
}

#insertion-restart-text {
  position: relative;
  top: 20px;
  color: #cecece;
  font-family: myFont;
  text-transform: uppercase;
  font-size: 26px;
}

#insertion-exit {
  position: absolute;
  width: 26px;
  height: 26px;
  text-align: center;
  top: 0px;
  right: 10px;
  font-size: 17px;
}

#insertion-exit span {
  position: relative;
  bottom: 3px;
}

#insertion-reset-game {
  top: 30px;
}

#insertion-restart-text-custom {
  position: relative;
  top: 60px;
  color: #cecece;
  font-family: myFont;
  text-transform: uppercase;
  font-size: 26px;
}

[name=insertion_custom_array_element] {
  width: 54px;
  height: 30px;
  position: relative;
  top: 15px;
  background: #ffed6e;
  border: none;
  border-radius: 4px;
  text-align: center;
}

#insertion-custom-array-container {
  width: 80%;
  height: 60px;
  background: #484848;
  margin: auto;
  position: relative;
  top: 55px;
  border-radius: 13px;
}


#insertion-restart-custom-info {
  top: 67px;
  position: relative;
  color: #cacaca;
  font-family: myFont;
}

#insertion-reset-game-custom {
  top: 130px;
}

#insertion-solution-container {
  display: none;
  margin: 0;
  width: 100%;
  height: 816px;
  position: absolute;
  background: #000000ab;

}

#insertion-solution-modal {
  display: block;
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 750px;
  background: #282828;
  border: 6px solid lightgray;
  border-radius: 10px;
}

#insertion-solution-exit {
  position: absolute;
  width: 26px;
  height: 26px;
  text-align: center;
  top: 0px;
  right: 10px;
  font-size: 17px;
  z-index: 3;
}

#insertion-solution-exit span {
  position: relative;
  bottom: 3px;
}



.sorted_element {
  background: lightblue;
  border: none;
}

.highLight_element {
  border: 3px solid #f54253;
}

.hide_element {
  background: rgb(40, 40, 40);
  color: transparent;
  border-radius: 8px;
}

#insertion-array-container-solution {
  list-style-type: none;
  width: 450px;
  height: 50px;
  background: #484848;
  margin: auto;
  position: relative;
  top: 25px;
  border-radius: 13px;
}

#insertion-array-inner-container-solution {
  position: absolute;
  width: 430px;
  height: 45px;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.insertion-array-element-solution {
  display: inline-block;
  width: 62px;
  height: 32px;
  background: #ffed6e;
  text-align: center;
  border-radius: 8px;
  margin-right: 3px;
  margin-left: 3px;
}


.insertion-element-solution {
  font-size: 28px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}


#insertion-solution-body {
  position: relative;
  top: 50px;
  width: 450px;
  height: 520px;
  overflow-y: scroll;
  margin: auto;
  border: 2px solid white;
  border-radius: 35px;
  border-radius: 8px;
}


@media only screen and (max-width: 1000px) {

  #insertion-array-container {
    list-style-type: none;
    width: 650px;
    height: 100px;
    background: #484848;
    margin: auto;
    position: relative;
    top: 20px;
    border-radius: 13px;
  }

  #insertion-array-info {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;
    font-family: myFont;
    font-weight: bold;
    line-height: 53px;
    color: white;
    position: relative;
    top: 40px;
  }
}