@font-face {
  font-family: 'myFont';
  src: url('../fonts/Inconsolata-Regular.ttf');
}

#introContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(40, 40, 40);
  width: 90%;
  height: 800px;
  text-align: center;
  display: block;
}

#inner-intro-Container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 900px;
  height: 720px;
  background: rgb(40, 40, 40);
  border-radius: 10px;

}

#introImage {
  position: absolute;
  margin: auto;
  left: 0;
  top: -100px;
  right: 0;
  bottom: 0;
  width: 764px;
  height: 600px;
}

#introImageActive {
  position: absolute;
  margin: auto;
  left: 0;
  top: -100px;
  right: 0;
  bottom: 0;
  width: 764px;
  height: 600px;
  display: none;
}

@media only screen and (max-width: 1000px) {

  #inner-intro-Container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 720px;
    background: rgb(40, 40, 40);
    border-radius: 10px;

  }

  #introImage {
    position: absolute;
    margin: auto;
    left: 0;
    top: -100px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 400px;
  }

  #introImageActive {
    position: absolute;
    margin: auto;
    left: 0;
    top: -100px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 400px;
    display: none;
  }

}


#begin {
  position: absolute;
  box-sizing: content-box;
  bottom: 80px;
  width: 250px;
  height: 75px;
  left: 0px;
  right: 0px;
  margin: auto;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: rgb(40, 40, 40);
  border: 3px solid rgb(128, 128, 128);
  transition: all 2s;
}

#begin:hover {
  width: 260px;
  height: 85px;
  background: rgba(56, 231, 231, 0.322);
}

#begin:focus {
  outline: 0;
}