.help_ui {
  width: 67px;
  height: 24px;
  border-radius: 6px;
}

.six_ui {
  width: 50px;
  height: 24px;
  border-radius: 6px;
}

.fourtyseven_ui {
  width: 50px;
  height: 24px;
  border-radius: 6px;
}

.eightytwo_ui {
  width: 50px;
  height: 24px;
  border-radius: 6px;
}


.swap_ui {
  width: 113px;
  height: 30px;
  border-radius: 6px;
}

.noswap_ui {
  width: 130px;
  height: 30px;
  border-radius: 6px;
}

.submit_ui {
  width: 150px;
  height: 30px;
  border-radius: 6px;
}

.reset_ui {
  width: 128px;
  height: 30px;
  border-radius: 6px;
}

.string_ui {
  width: 110px;
  height: 30px;
  border-radius: 6px;
}

.integer_ui {
  width: 110px;
  height: 30px;
  border-radius: 6px;
}

.select_ui {
  width: 320px;
  height: 35px;
  border-radius: 6px;
  left: 70px;
  position: relative;
}


.down-arrow {
  position: fixed;
  border-radius: 6px;
  width: 31px;
  height: 75px;
  background: rgba(0, 0, 0, 0);
  bottom: 85px;
  right: -4px;
  display: none;
}

.arrow {
  position: relative;
  left: 6px;
  right: 0;
  top: 5px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #403e3e;
  animation: animate 1.5s linear infinite;
}

.arrow-container {
  position: relative;
  bottom: 10px;
}

.solution-arrow {
  position: absolute;
  left: 400px;
  width: 10px;
  height: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #e9e9e9;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    top: 5px;
  }

  25% {
    top: 11px;
  }

  50% {
    top: 5px;
  }

  75% {
    top: -1px;
  }

  100% {
    top: 5px;
  }
}


.solution_title {
  color: #ffffffeb;
  position: relative;
  top: 23px;
}

.solution_body {
  color: #ffffffeb;
  position: relative;
  top: 40px;
}